{% extends 'base.html' %}
{% block title %}Ro'yxatdan o'tish{% endblock %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Ro'yxatdan o'tish</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Account</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Register</h4>
                                <form class="aa-login-form" method="post" enctype="application/json">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="aa-browse-btn">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->

{% endblock %}