{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Blog" %}{% endblock %}


{% block content %}

<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Blog</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'main:home' %}">{% trans "Bosh sahifa" %}</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Blog Archive -->
<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Blog details -->
                            <div class="aa-blog-content aa-blog-details">
                                <div class="aa-blog-comment-threat">
                                    <div class="comments">
                                        <ul class="commentlist">
                                            {% for b in blog %}
                                            <li class="author-comments">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img class="media-object news-img"
                                                             src="{{ b.image.url }}"
                                                             alt="img">
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="comments-date">{{ b.created_at | date:"d-m-Y H:i:s" }}</span>
                                                        <p>{{ b.subject|linebreaks|truncatewords:15 }}</p>
                                                        <a href="{% url 'contact:blogdetail' b.pk %}" class="reply-btn">{% trans "Ko'rish" %}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Archive -->

{% endblock %}

