{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Kategoriya' %}{% endblock %}

{% block content %}
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion_ru/фв468787.jpg' %}" alt="fashion img" style="width: 100%; height: 100%; object-fit: contain;">
</section>
<section style="margin-bottom: 30px;"  id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="erkin">
                    <ul class="erkin1">
                        <li class="active1">{% trans "Mahsulot" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <hr>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        {% for product in posts %}
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="{% url 'main:detailbase' product.pk %}">
                                                    <img src="{{ product.image.url }}" alt="polo shirt img"
                                                    style="width: 290px; height: 350px;"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title">
                                                        <a href="{% url 'main:detailbase' product.pk %}">{{ product.name }}</a>
                                                    </h4>
                                                    <span class="aa-product-price">{{ product.price }} uzs</span>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <hr>
                                {% if page_obj.has_other_pages %}
                                <div class="aa-blog-archive-pagination">
                                    <nav>
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                            <li>
                                                <a aria-label="Previous" href="?page={{ page_obj.previous_page_number  }}">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% for p in paginator.page_range %}
                                            {% if page_obj.number == p %}
                                            <li class="active"><a href="">{{ p }}</a></li>
                                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                            <li>
                                                <a href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li>
                                                <a aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}