{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Mahsulotni tekshirish" %}{% endblock %}


{% block content %}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion_ru/7989779.jpg' %}" alt="fashion img" style="width: 100%; height: 100%; object-fit: contain;">
</section>

<section style="margin-bottom: 30px;"  id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="erkin">
                    <ul class="erkin1">
                        <li class="active1">{% trans "Mahsulotni tekshirish" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">
                                        <!-- Shipping Address -->
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseFour">
                                                        Yetkazib berish manzili
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.first_name }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.last_name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.phone }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.phone1 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.type_of_delivery }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                               {{ form.province }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                {{ form.full_address }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>{% trans "Buyurtma xulosasi" %}</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive">
                                            <thead>
                                            <tr>
                                                <th>{% trans "Mahsulot" %}</th>
                                                <th>{% trans "Jami narxi" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for checkout in cart %}
                                            <tr>
                                                <td>{{ checkout.product.name }}
                                                    <strong> x {{ checkout.quantity }}</strong>
                                                </td>
                                                <td>{{ checkout.total_price }} uzs</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>{% trans "Umumiy narx" %}</th>
                                                <td>{{ cart.get_total_cost }} uzs</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>{% trans "To'lov usuli" %}</h4>
                                    <div class="aa-payment-method">
                                        {{ form.payment_type }}
                                        <img src="{% static 'img/click.jpg' %}"
                                             border="0" alt="PayPal Acceptance Mark">
                                        <input type="submit" value="{% trans 'Buyurtma berish' %}"
                                               class="aa-browse-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
{% endblock %}

<!--<div class="checkout-right">-->
<!--    <h4></h4>-->
<!--    <div class="aa-order-summary-area">-->
<!--        <table class="table table-responsive">-->
<!--            <thead>-->
<!--            <tr>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            {% for checkout in cart %}-->
<!--            <tr>-->
<!--                <td>{{ checkout.product.name }} <strong> x {{ checkout.quantity-->
<!--                    }}</strong></td>-->
<!--                <td>{{ checkout.total_price }} uzs</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--            <tfoot>-->
<!--            <tr>-->
<!--                <th>Dastafka narxi</th>-->
<!--                <td>2000 uzs</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>Umumiy narxi</th>-->
<!--                <td>8000 uzs</td>-->
<!--            </tr>-->
<!--            </tfoot>-->
<!--        </table>-->
<!--    </div>-->
<!--    <h4>{% trans "To'lov usuli" %}</h4>-->
<!--    <div class="aa-payment-method">-->
<!--        {{ form.payment_type }}-->
<!--        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"-->
<!--             border="0" alt="PayPal Acceptance Mark">-->
<!--        <input type="submit" value="{% trans 'Buyurtma berish' %}"-->
<!--               class="aa-browse-btn">-->
<!--    </div>-->
<!--</div>-->


<!--<div class="panel-heading">-->
<!--<h4 class="panel-title">-->
<!--<a data-toggle="collapse" data-parent="#accordion"-->
<!--href="#collapseFour">{% trans "Yetkazib berish manzili" %}</a>-->
<!--</h4>-->
<!--</div>-->
<!--<div id="collapseFour" class="panel-collapse collapse">-->
<!--                                                <div class="panel-body">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-md-6">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--                                                                -->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="col-md-6">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--                                                                -->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-md-12">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-md-6">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--                                                                -->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="col-md-6">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--                                                                -->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-md-12">-->
<!--                                                            <div class="aa-checkout-single-bill">-->
<!--                                                                -->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->