{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Aloqa" %}{% endblock %}


{% block content %}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/v3.png' %}" alt="fashion img" style="width: 100%; height: 100%; object-fit: contain;">
</section>

<section id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="erkin">
                    <ul class="erkin1">
                        <li class="active1">{% trans "Aloqa" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- / catg header banner section -->

<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>{% trans "Sizga yordam berishni kutamiz" %}..</h2>
                        <p>{% trans "Biz bilan bog'laning sizga yordam berishdan mamnumiz. Biz doim qo'llab quvatlaymiz" %}</p>
                    </div>
                    <!-- contact map -->
                    <div class="aa-contact-map">
                        <iframe src="{{ contact.location }}"
                                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="aa-contact-address-left">
                                    <form class="comments-form contact-form" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form.full_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form.company }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form.description }}
                                        </div>
                                        <button class="aa-secondary-btn">Send</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>{{ contact.name }}</h4>
                                        <p>{{ contact.subject }}</p>
                                        <p><span class="fa fa-home"></span>{{ contact.address }}</p>
                                        <p><span class="fa fa-phone"></span>{{ contact.phone }}</p>
                                        <p><span class="fa fa-phone"></span>{{ contact.phone1 }}</p>
                                        <p><span class="fa fa-envelope"></span>Email: {{ contact.email }}</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

