{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load static %}


{% block content %}

<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    {% for carusel in categories %}
                    <li>

                        <div class="seq-model">
                            {% if LANGUAGE_CODE == 'uz' %}
                                <img data-seq src="{{ carusel.image_uz.url }}"/>
                            {% elif LANGUAGE_CODE == 'ru' %}
                                <img data-seq src="{{ carusel.image_ru.url }}"/>
                            {% endif %}
                        </div>
                        <div class="seq-title">
                            <h2 data-seq>{{ carusel.name }}</h2>
                            <a data-seq href="{% url 'main:category_product' carusel.pk%}" class="aa-shop-now-btn aa-secondary-btn">{% trans "HOZIR KO'RISH" %}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->


<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>{% trans "YETKAZIB BERISH BEPUL" %}</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis .</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>{% trans "30 KUN PUL QAYTARISH" %}</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>{% trans "24/7 QO'LLAB-QUVVATLASH" %}</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->

<!-- Products section -->

<section id="aa-blog-archive">
    <div class="container">
        <div class="col-md-12">
            <div class="aa-blog-archive-area">
                <div class="aa-blog-content">
                    <div class="row">
                        {% for product in posts %}
                        <div class="col-md-4 col-sm-4">
                            <article class="aa-blog-content-single">
                                <figure class="aa-blog-img">
                                    <a href="{% url 'main:detailbase' product.pk %}">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" style="height: 380px; width: 300px;" alt="fashion img">
                                        {% endif %}
                                    </a>
                                </figure>
                                <div class="aa-article-bottom">
                                    <div class="aa-post-author">
                                        <a href="{% url 'main:detailbase' product.pk %}">{{ product.name }}</a>
                                        <br>
                                        <span>{{ product.price }} .uzs</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    <hr/>
                    {% if page_obj.has_other_pages %}
                    <div class="aa-blog-archive-pagination">
                        <nav>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li>
                                    <a aria-label="Previous" href="?page={{ page_obj.previous_page_number  }}">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                <li class="active"><a href="">{{ p }}</a></li>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                <li>
                                    <a href="?page={{ p }}">{{ p }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li>
                                    <a aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->


{% endblock %}