{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load static %}


{% block content %}

<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    {% for carusel in categories %}
                    <li>

                        <div class="seq-model">
                            {% if LANGUAGE_CODE == 'uz' %}
                            <img data-seq src="{{ carusel.image_uz.url }}"/>
                            {% elif LANGUAGE_CODE == 'ru' %}
                            <img data-seq src="{{ carusel.image_ru.url }}"/>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->


<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>{% trans "QULAY YETKAZIB BERISH XIZMATI" %}</h4>
                            <P>{% trans "Mijozning uyigacha yetkazib berish" %}</P>
                            <P>{% trans "Fargo topshirish markazlaridan olib ketish" %}</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>{% trans "QULAY VA TEZ TO'LOV" %}</h4>
                            <P>{% trans "Click to'lov tizimi orqali xaridlaringizni oson va tez amalga oshiring" %}</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>{% trans "24/7 QO'LLAB-QUVVATLASH" %}</h4>
                            <P>{% trans "Biz bilan bog'laning sizga yordam berishdan mamnumiz. Biz doim qo'llab quvatlaymiz" %}</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->

<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <hr>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        {% for product in posts %}
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="{% url 'main:detailbase' product.pk %}">
                                                    <img src="{{ product.image.url }}" alt="polo shirt img"
                                                    style="width: 290px; height: 350px;"></a>
                                                <figcaption>
                                                    <h4 class="aa-product-title">
                                                        <a href="{% url 'main:detailbase' product.pk %}">{{ product.name }}</a>
                                                    </h4>
                                                    <span class="aa-product-price">{{ product.price }} uzs</span>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <hr>
                                {% if page_obj.has_other_pages %}
                                <div class="aa-blog-archive-pagination">
                                    <nav>
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                            <li>
                                                <a aria-label="Previous" href="?page={{ page_obj.previous_page_number  }}">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% for p in paginator.page_range %}
                                            {% if page_obj.number == p %}
                                            <li class="active"><a href="">{{ p }}</a></li>
                                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                            <li>
                                                <a href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li>
                                                <a aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
