{% extends 'base.html' %}
{% load static %}
{% block title %}Product | Detail{% endblock %}

{% block content %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>MakonMirzo</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li><a href="{% url 'main:product' %}">Product</a></li>
                    <li class="active">MakonMirzo</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a
                                                    data-lens-image="{{ details.image.url }}"
                                                    class="simpleLens-lens-image"><img
                                                    src="{{ details.image.url }}"
                                                    class="simpleLens-big-image"></a></div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            {% if details.image1 %}
                                            <a data-big-image="{{ details.image1.url }}"
                                               data-lens-image="{{ details.image1.url }}"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="{{ details.image1.url }}" style="height: 80px; width: 80px;">
                                            </a>
                                            {% endif %}
                                            {% if details.image2 %}
                                            <a data-big-image="{{ details.image2.url }}"
                                               data-lens-image="{{ details.image2.url }}"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="{{ details.image2.url }}" style="height: 80px; width: 80px;">
                                            </a>
                                            {% endif %}
                                            {% if details.image3 %}
                                            <a data-big-image="{{ details.image3.url }}"
                                               data-lens-image="{{ details.image3.url }}"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="{{ details.image3.url }}" style="height: 80px; width: 80px;">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>{{ details.name }}</h3>
                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price">{{ details.price }}.uzs</span>
                                        <p class="aa-product-avilability">Mavjudligi: <span>Omborda mavjud; sotuvda mavjud</span>
                                        </p>
                                        <p class="aa-product-avilability">Sotuv kodi:<span>{{ details.vendor_code }}</span></p>
                                    </div>
                                    <p>{{ details.title }}!</p>
                                    <h4>Size</h4>
                                    <div class="aa-prod-view-size">
                                        <a href="#">{{ details }}</a>
                                        <a href="#">M</a>
                                        <a href="#">L</a>
                                        <a href="#">XL</a>
                                    </div>
                                    <h4>Color</h4>
                                    <div class="aa-color-tag">
                                        <a href="#" class="aa-color-green">{{ details.color.name }}</a>
                                        <a href="#" class="aa-color-yellow"></a>
                                        <a href="#" class="aa-color-pink"></a>
                                        <a href="#" class="aa-color-black"></a>
                                        <a href="#" class="aa-color-white"></a>
                                    </div>
                                    <div class="aa-prod-quantity">
                                        <p class="aa-prod-category">
                                            Category: <a href="#">{{ details.categories.name }}</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a class="aa-add-to-cart-btn" href="{% url 'main:add_to_cart' details.id %}">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#" data-toggle="tab">Tavsif</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>{{ details.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
{% endblock %}