{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock %}

{% block content %}

<!-- catg header banner section -->
<section style="margin-bottom: 30px;" id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>MakonMirzo</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                    <li class="active">Product</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- product category -->
<!--<section id="aa-product-category">-->
<div class="container">
    {% for p in products %}
    <div class="row row-cols-1 row-cols-md-3">

        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                        to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
<!--</section>-->
{% endblock %}